<div class="card" style="text-align:center">

    <h1>✈ Flight Manager</h1>

    <p>
        Modern system for managing flights and reservations.
    </p>

    <br>

    <a href="/Flights">
        <button>Explore Flights</button>
    </a>

</div>