@model FlightManager.Models.FlightDetailsViewModel

<div class="card">

    <h1>Delete Flight</h1>

    <p>Are you sure you want to delete this flight?</p>

    <p>@Model.FromLocation → @Model.ToLocation</p>

    <form method="post">

        <input type="hidden" asp-for="Id" />

        <button style="background:red">Delete</button>

    </form>

</div>