@model FlightManager.Models.LoginViewModel

<div class="card">
    <h2>Login</h2>

    <form method="post">
        <input asp-for="Email" placeholder="Email" />
        <input asp-for="Password" type="password" placeholder="Password" />

        <button type="submit">Login</button>
    </form>
</div>