@model FlightManager.Models.RegisterViewModel

<div class="card">
    <h2>Register</h2>

    <form method="post">

        <input asp-for="Email" placeholder="Email" />
        <input asp-for="FirstName" placeholder="First Name" />
        <input asp-for="LastName" placeholder="Last Name" />
        <input asp-for="EGN" placeholder="EGN" />
        <input asp-for="Address" placeholder="Address" />
        <input asp-for="PhoneNumber" placeholder="Phone" />

        <input asp-for="Password" type="password" placeholder="Password" />
        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />

        <button type="submit">Register</button>

    </form>
</div>